<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login Orange Pi Lite Web Interface</title>

    <!--Logo-->
    <link href="img/logo.png" rel="shortcut icon" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="img/logo.png">

    <!-- CSS -->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">

    <!--Fonts-->
    <link rel="stylesheet" href="css/font-faces.css">
    <link rel="stylesheet" href="vendors/fontawesome-free-5.4.1-web/css/all.min.css">

    <!-- JS -->
    <script src="js/jquery/jquery.js"></script>

</head>

<body>

{% from "security/_macros.html" import render_field_with_errors, render_field %}

<div class="container-center">
    <div class="login-form-container">
        <div class="login-header">
            <span><i class="fas fa-user-circle"></i></span>
        </div>
        <form class="login-form" action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
            <div class="input-container input-focus-within">
                <span class="icon-form"><i class="fas fa-envelope"></i></span>
                <input id="email" name="email" required type="text" value="" autofocus placeholder="Enter email">
            </div>
            <div class="input-container input-focus-within">
                <span class="icon-form"><i class="fas fa-key"></i></span>
                <input id="password" name="password" required type="password" value="" placeholder="Enter password">
            </div>
            <div class="input-container">
                <input id="submit" name="submit" type="submit" value="Login">
            </div>
            <div class="input-container">
                <input id="remember" name="remember" type="checkbox" value="y">
                <span>Remember me</span>
            </div>
            <div class="login-error-messages">
                {% include "security/_messages.html" %}
                {{ login_user_form.hidden_tag() }}
                {{ render_field_with_errors(login_user_form.email) }}
                {{ render_field_with_errors(login_user_form.password) }}
                {{ render_field_with_errors(login_user_form.remember) }}
            </div>
        </form>
    </div>
</div>

</body>
</html>
