.device-status-content {
  background: $color-header;
  flex-direction: column;
  border-radius: 0.5rem;
  width: 100%;
  margin: 2rem 5%;
  .chart-container {
    width: 100%;
    height: 40rem;
  }
  .device-status-content-footer {
    width: 100%;
    height: $height-base-element-default;
    padding: 0.5rem;
    & button {
      margin-right: 0.5rem;
    }
    & button:last-child {
      margin-right: 0;
    }
  }
}