.device-status-container {
  background: rgba(54, 52, 48, 1);
  flex-direction: column;
  border-radius: 0.5rem;
  width: 100%;
  margin: 0 5%;
  .device-status-content-header {
    width: 100%;
    height: $height-base-element-default;
    padding: 0.5rem;
    & button {
      margin-right: 0.5rem;
    }
    & button:last-child {
      margin-right: 0;
    }
  }
  .device-status-content {
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    .chart-container {
      width: 40em;
      height: 40rem;
      margin: 2rem 1rem;
    }
  }
}

@include media-breakpoint-sm {
  .device-status-container {
    margin: 0;
  }
}
