//Main styles for the page "Pin configuration"

.pin-container {
  background: $white-color-900;
  flex-basis: 40%;
  height: 2.2rem;
  margin: 0.5rem 5%;
  font-size: $font-size-small;
}

.icon-gpio i {
  color: $dark-color-300;
  flex: 1 1 10%;
  text-align: center;
}

.text-gpio span {
  flex: 1 1 50%;
  text-align: center;
}

.btn-gpio {
  color: $color-text;
  height: 2.2rem;
  flex: 0 0 15%;
  border: 0;
}

.btn-off {
  background: $button-color-red;
  @include transition-duration;
  &:hover {
    background: $button-color-red-hover;
  }
}

.btn-on {
  background: $button-default;
  @include transition-duration;
  &:hover {
    background: $button-default-hover;
  }
}

.pin-power {
  background: $color-red;
  color: $color-text;
}

.pin-gnd {
  background: $dark-color-400;
  color: $color-text;
}

.fa-lock, .fa-lock-open {
  &:before {
    cursor: pointer;
  }
}

.fa-lock {
  color: $button-color-red !important;
}

//For max-width 1023px
@include media-breakpoint-lg {
  .pin-container {
    font-size: $font-size-small-mobile;
  }
}