//Styles for index page

.table-main-container {
  background: $color-navigation;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 5%;
}

.tab-header {
  display: flex;
  width: 100%;
  font-size: $font-size-middle;
}

.tab-link {
  color: $color-text;
  border: 0;
  height: $height-base-element-default;
  width: 50%;
}

.tab-content {
  display: block;
  height: 486.4px;
  margin: 1.5rem 0;
  padding: 0 1.5rem;
  font-size: $font-size-small;
  overflow-y: auto;
}

.table-container {
  width: 100%;
  display: table;
  & th,td {
    height: 3rem;
    text-align: center;
    vertical-align: middle;
  }
  & td {
    pointer-events: auto;
    cursor: pointer;
  }
  & tr {
    background: $color-table-tr;
  }
  & tr:nth-child(odd) {
    background: $color-table-tr-odd;
  }
  & tr:hover {
    background: $color-table-tr-hover;
    color: $color-text;
  }
  & tr:first-child {
    background: $color-table-tr-hover;
    color: $color-text;
  }
}

.tab-footer {
  display: flex;
  justify-content: space-between;
  height: $height-base-element-default;
  width: 100%;
  padding: 0.5rem;
  & button {
    margin-right: 0.5rem;
  }
  & button:last-child {
    margin-right: 0;
  }
}

.btn-table {
  background: $button-default-disabled;
  color: $color-text-dark;
  width: 100%;
  cursor: default;
  margin: 0.5rem 0 0.5rem 0.5rem;
  border: 0;
}

.table-device-tab {
  background: inherit;
  color: $button-default;
}

.table-user-tab {
  background: inherit;
}

//Classes to support java script functionality
.table-user-window {
  display: none;
}


.row-active {
  background: $button-default !important;
  color: $color-text-dark !important;
}

//For max-width 1023px
@include media-breakpoint-lg {
  .table-main-container {
    font-size: $font-size-middle-mobile;
  }
}
