//Styles for index page

.table-main-container {
  background: $dark-color-400;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0.5rem 5%;
  font-size: $font-size-default-n;
}

.tab-header {
  display: flex;
  width: 100%;
}

.tab-link {
  color: $white-color;
  border: 0;
  height: $height-base-element-default;
  width: 50%;
}

.tab-content {
  display: block;
  height: 486.4px;
  margin: 1.5rem 0;
  padding: 0 1.5rem;
  overflow-y: auto;
}

.table-container {
  width: 100%;
  display: table;
  & th,td {
    height: 3rem;
    text-align: center;
    vertical-align: middle;
  }
  & td {
    pointer-events: auto;
    cursor: pointer;
  }
  & tr {
    background: $white-color-900;
  }
  & tr:nth-child(odd) {
    background: $white-color-600;
  }
  & tr:hover {
    background: $dark-color-300;
    color: $white-color;
  }
  & tr:first-child {
    background: $dark-color-700;
    color: $white-color;
  }
}

.tab-footer {
  background: $dark-color-700;
  display: flex;
  justify-content: space-between;
  height: $height-base-element-default;
  width: 100%;
}

.tab-footer-left {
  display: flex;
  justify-content: flex-end;
  width: 60%;
}

.tab-footer-right {
  display: flex;
  justify-content: flex-start;
}

.btn-table {
  background: $btn-default-color-disabled;
  color: $white-color;
  width: 100%;
  cursor: default;
  margin: 0.5rem 0 0.5rem 0.5rem;
  border: 0;
}

.btn-table-arrow {
  color: $white-color;
  border: 0;
  margin: 0.5rem 0.5rem 0.5rem 0;
  width: 4rem;
  & span {
    cursor: default;
  }
}

.btn-active {
  background: $btn-default-color !important;
  cursor: pointer !important;
  &:hover {
    background: $btn-default-color-hover !important;
  }
}

//Classes to support java script functionality
.users {
  display: none;
}


.row-active {
  background: $btn-default-color !important;
  color: $white-color;
  .offline {
    color: $white-color;
  }
  .online {
    color: $white-color;
  }
}

.online {
  color: $green-color;
}

.offline {
  color: $red-color;
}

.tab-link-devices {
  background: $dark-color-400;
}

.tab-link-users {
  background: $dark-color-700;
}

//For max-width 1023px
@include media-breakpoint-lg {
  .table-main-container {
    font-size: $font-size-lg-n;
  }
}
