<!doctype html>
<html lang="en">
<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Orange Pi Lite Web Interface</title>

    <!--Logo-->
    <link href="/img/logo.png" rel="shortcut icon" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="/img/logo.png">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">

    <!--Fonts-->
    <link rel="stylesheet" href="/css/font-faces.css">
    <link rel="stylesheet" href="/vendors/fontawesome-free-5.4.1-web/css/all.min.css">

    <!-- JS -->
    <script src="/js/jquery/jquery.js"></script>
    <script src="/js/main/responsive.js"></script>
    <script src="/js/uni/ajax.js"></script>
    {% endblock %}
</head>

<body>
    <!--Sidebar navigation-->
    <div class="sidebar-container sidebar-responsive sidebar-responsive-on mobile-display-none">
        <nav class="position-fixed sidebar-responsive sidebar-responsive-on">
            <ul class="sidebar-navigation sidebar-element">
                <li id="logo">
                    <a href="#">
                    <span>Orange Pi Admin</span>
                    <span id="logo-responsive">OPiA</span>
                    </a>
                </li>
                <li class="navigation-link-hover">
                    <a href="/index">
                    <i class="fas fa-home"></i>
                    <span>Home page</span>
                    </a>
                </li>
                <li class="navigation-link-hover">
                    <a href="#">
                    <i class="fas fa-chart-area"></i>
                    <span>System monitor</span>
                    </a>
                </li>
                <li class="navigation-link-hover">
                    <a href="#">
                    <i class="fas fa-microchip"></i>
                    <span>System configuration</span>
                    </a>
                </li>
                <li class="navigation-link-hover">
                    <a href="#">
                    <i class="fas fa-cog"></i>
                    <span>User settings</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <!--Main container with main content and top navigation bar-->
    <div class="main-section content-responsive content-responsive-on">
        <!--Navigation bar on top-->
        <nav class="navigation-container flex-container-center position-fixed content-responsive content-responsive-on">
            <div class="navigation-left navigation-element">
                <ul>
                    <li class="mobile-display-none">
                        <i id="desktop-toggle-bars" class="fas fa-bars"></i>
                    </li>
                    <li class="desktop-display-none">
                        <i id="mobile-toggle-bars" class="fas fa-bars"></i>
                    </li>
                </ul>
            </div>

            <div class="navigation-right">
                <ul class="navigation-left-position-element navigation-element">
                    <li>
                        <a href="#">
                        <i class="fas fa-user-circle"></i>
                        {% if g.user %}
                        <span>{{ g.user['username'] }}</span>
                        {% else %}
                        <span>Anonymous</span>
                        {% endif %}
                        </a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-exclamation-triangle"></i></a>
                    </li>
                    <li class="mobile-display-none">
                        <a href="#"><i class="fas fa-power-off"></i></a>
                    </li>
                </ul>
            </div>
        </nav>

        <!--Mobile navigation-->
        <nav class="mobile-menu-container position-fixed desktop-display-none">
            <ul class="navigation-element">
                <li class="navigation-link-hover">
                    <a href="/index">
                        <i class="fas fa-home"></i>
                        <span>Home page</span>
                    </a>
                </li>
                <li class="navigation-link-hover">
                    <a href="#">
                        <i class="fas fa-chart-area"></i>
                        <span>System monitor</span>
                    </a>
                </li>
                <li class="navigation-link-hover">
                    <a href="#">
                        <i class="fas fa-microchip"></i>
                        <span>System configuration</span>
                    </a>
                </li>
                <li class="navigation-link-hover">
                    <a href="#">
                        <i class="fas fa-cog"></i>
                        <span>User settings</span>
                    </a>
                </li>
                <li class="navigation-link-hover">
                    <a href="#">
                        <i class="fas fa-power-off"></i>
                        <span>Logout</span>
                    </a>
                </li>
            </ul>
        </nav>

        <!--Main content section-->
        <main class="main-content">
            {% block content %}{% endblock %}
        </main>
    </div>

    {% block modal_content %}{% endblock %}


</body>
</html>