@charset "UTF-8";
.preloader-container {
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 100%;
  height: 100%; }

.preloader {
  border: 5px solid black;
  border-top: 5px solid #daaf37;
  border-radius: 30px;
  height: 50px;
  width: 50px;
  animation: spin 1s linear infinite; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
.modal-animation-open {
  animation-name: animate-open;
  animation-duration: 0.6s; }

.modal-animation-close {
  animation-name: animate-close;
  animation-duration: 0.6s; }

@keyframes animate-open {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes animate-close {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
*, :before, :after {
  box-sizing: border-box; }

:root {
  font-size: 10px; }

body, input, button, select {
  font-family: 'Roboto', sans-serif; }

body {
  height: 100%;
  display: flex;
  background: #363430; }

a {
  text-decoration: none; }

input:-webkit-autofill {
  -webkit-text-fill-color: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0 0 0 100rem rgba(0, 0, 0, 0) inset;
  transition: background-color 10000000s ease-in-out 0s; }

input:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0 100rem rgba(0, 0, 0, 0) inset;
  transition: background-color 10000000s ease-in-out 0s; }

::-webkit-scrollbar {
  box-shadow: inset 0 0 10px 5px rgba(27, 27, 27, 0.6); }

::-webkit-scrollbar-thumb {
  background: #191815; }

::-webkit-scrollbar-corner {
  background: rgba(27, 27, 27, 0.6); }

.modal {
  background: rgba(255, 255, 255, 0.3);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1010;
  overflow: auto;
  left: 0;
  top: 0; }

.modal-container {
  background: #242320;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 47rem;
  z-index: 1020; }

.modal-header {
  width: 100%;
  text-align: center;
  padding: 2rem 0; }
  .modal-header span {
    color: white;
    font-size: 1.8rem; }

.modal-content {
  color: white;
  font-size: 1.5rem;
  padding: 0 2rem 2rem;
  width: 100%; }

.modal-content-block {
  background: #191815;
  margin: 1.5rem 0;
  border-radius: 0.4rem; }
  .modal-content-block span {
    min-width: 11rem;
    padding-left: 1rem;
    opacity: 0.6; }
  .modal-content-block input[type=text], .modal-content-block input[type=password], .modal-content-block input[type=email], .modal-content-block select {
    background: #191815;
    color: rgba(255, 255, 255, 0.6);
    caret-color: rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 0.4rem;
    height: 5rem;
    width: 100%; }

.modal-content-block-roles {
  background: #191815;
  margin: 1.5rem 0;
  height: 100%;
  border-radius: 0.4rem; }
  .modal-content-block-roles span {
    height: 100%;
    min-width: 11rem;
    padding-left: 1rem;
    opacity: 0.6; }

.modal-content-delete {
  flex-direction: column; }
  .modal-content-delete span {
    padding-bottom: 1.5rem; }

.modal-error-massage {
  height: 1.5rem;
  margin: 0.5rem 0; }

.modal-checkbox-container {
  background: #191815;
  color: white;
  border-radius: 0 0.4rem 0.4rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%; }

.modal-footer {
  display: flex;
  height: 5rem;
  padding: 0.5rem; }

@media screen and (max-width: 479px) {
  .modal-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    border-radius: 0; }
    .modal-container .modal-content {
      padding: 0 1rem; }
    .modal-container .modal-content-block {
      margin: 2rem 0; }
    .modal-container .modal-footer {
      background: inherit;
      flex-direction: column;
      padding: 1rem;
      width: 100%;
      height: 14rem; }

  .modal-content-delete {
    margin-bottom: 1.5rem; }
    .modal-content-delete p {
      padding: 1rem; } }
.button {
  background: inherit;
  color: white;
  border: 0.1rem solid #daaf37;
  border-radius: 0.4rem;
  font-size: 1.5rem;
  cursor: not-allowed;
  width: 100%;
  height: 100%;
  -webkit-transition-duration: 0.3s;
  /* Safari */
  transition-duration: 0.3s; }
  .button:disabled {
    cursor: not-allowed; }

.button-active {
  background: #daaf37 !important;
  color: #343233 !important;
  cursor: pointer !important; }
  .button-active:hover {
    background: #ffc31f !important; }

.button-selection {
  background: #ffc31f !important; }

.button-modal-window {
  background: inherit;
  color: #343233;
  cursor: default;
  border: none;
  width: 100%; }

[id*='modal_user_button'], [id*='modal_device_button'] {
  display: none;
  margin-right: 0.5rem; }

@media screen and (max-width: 479px) {
  .button-modal-window {
    height: 100%; }

  [id*='modal_user_button'], [id*='modal_device_button'] {
    margin-left: 0;
    margin-bottom: 2rem; }

  .button {
    font-size: 1.3rem; } }
.toggle-bar {
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column; }
  .toggle-bar :focus {
    outline-width: 0; }
  .toggle-bar [class*='bar-'] {
    background: white;
    display: block;
    transform: rotate(0deg);
    transition: .3s ease all;
    height: 2px;
    width: 25px;
    margin-bottom: 4px; }

.toggle-bar-opened .toggle-bar-top {
  background: #daaf37;
  transform: rotate(45deg);
  transform-origin: 15% 15%; }
.toggle-bar-opened .toggle-bar-middle {
  opacity: 0; }
.toggle-bar-opened .toggle-bar-bottom {
  background: #daaf37;
  transform: rotate(-45deg);
  transform-origin: 15% 95%; }

.checkbox-container {
  display: flex;
  height: 5rem;
  width: 50%;
  align-items: center; }
  .checkbox-container label {
    opacity: 0.6;
    color: white; }

.checkbox {
  background: inherit;
  border: 0.1rem solid #daaf37;
  border-radius: 0.2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  height: 1.5rem;
  width: 1.5rem;
  min-height: 1.5rem;
  min-width: 1.5rem;
  margin-right: 1rem;
  cursor: pointer;
  z-index: 1; }
  .checkbox:checked {
    background: #daaf37; }
  .checkbox::-ms-check {
    background: #daaf37; }
  .checkbox:checked::before {
    color: #343233;
    content: '✔';
    text-align: center;
    height: 1.5rem;
    width: 1.5rem;
    min-height: 1.5rem;
    min-width: 1.5rem;
    display: inline-block;
    position: relative;
    bottom: 0.4rem; }

.online {
  color: #218c74; }

.offline {
  color: #ff3838 !important; }

.sidebar-container {
  background-color: #242320;
  display: flex;
  min-height: 100vh;
  overflow-y: hidden; }

.sidebar-navigation {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  font-size: 1.5rem; }
  .sidebar-navigation li {
    height: 5rem; }
    .sidebar-navigation li a {
      color: white;
      display: flex;
      align-items: center;
      height: 100%; }
      .sidebar-navigation li a i {
        padding: 0 1.5rem; }

.navigation-container {
  background: #242320;
  height: 5rem;
  font-size: 1.5rem;
  z-index: 1000; }

.navigation-right {
  height: 5rem;
  flex-grow: 10; }
  .navigation-right ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%; }
    .navigation-right ul li {
      padding-right: 2rem; }
      .navigation-right ul li span {
        color: white;
        padding-left: 1rem; }
      .navigation-right ul li i {
        color: white; }

.navigation-left {
  height: 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1; }
  .navigation-left li {
    padding-left: 1.5rem; }

.mobile-menu-container {
  background: #242320;
  height: 100%;
  width: 0;
  z-index: 1010;
  overflow-x: hidden;
  margin-top: 5rem;
  top: 0;
  left: 0;
  transition: 0.4s; }
  .mobile-menu-container ul {
    width: 100%; }
    .mobile-menu-container ul li {
      height: 5rem; }
      .mobile-menu-container ul li a {
        color: white;
        display: flex;
        align-items: center;
        height: 100%; }
        .mobile-menu-container ul li a i {
          padding: 0 1.5rem; }
        .mobile-menu-container ul li a span {
          visibility: hidden; }

.navigation-link-hover {
  border: 0.1rem; }
  .navigation-link-hover:hover {
    border-bottom: 0.1rem solid #daaf37;
    border-top: 0.1rem solid #daaf37; }
    .navigation-link-hover:hover span, .navigation-link-hover:hover i {
      color: #daaf37; }

#logo {
  background: #191815; }
  #logo span {
    width: 100%;
    text-align: center; }

#logo-responsive {
  display: none; }

.sidebar-responsive-on {
  width: 20%;
  transition: 0.4s; }

.sidebar-responsive-off {
  transition: 0.4s;
  width: 5%; }
  .sidebar-responsive-off .sidebar-navigation span {
    display: none; }
  .sidebar-responsive-off .sidebar-navigation a {
    display: flex;
    align-items: center;
    justify-content: center; }
  .sidebar-responsive-off #logo-responsive {
    display: block; }

.content-responsive-on {
  width: 80%;
  transition: 0.4s; }

.content-responsive-off {
  transition: 0.4s;
  width: 95%; }

@media screen and (max-width: 1023px) {
  .sidebar-responsive-on {
    width: 30%; }

  .sidebar-responsive-off {
    width: 8%; }

  .content-responsive-on {
    width: 70%; }

  .content-responsive-off {
    width: 92%; } }
@media screen and (max-width: 767px) {
  .sidebar-responsive-on, .sidebar-responsive-off {
    width: 0; }

  .content-responsive-on, .content-responsive-off {
    width: 100%; }

  .navigation-container {
    background: #191815; }

  .sidebar-navigation, .mobile-menu-container {
    font-size: 1.3rem; } }
.flex-container-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.main-section {
  display: flex;
  flex-direction: column; }

.main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-top: 5rem; }

.page-title {
  color: white;
  font-size: 1.5rem;
  margin: 1.5rem 5% 0; }

.content-container {
  flex-wrap: wrap;
  margin: 1.5rem 0; }

.position-fixed {
  position: fixed; }

.full-size-display {
  height: 100vh;
  width: 100%; }

.desktop-display-none {
  display: none; }

.user-roles-container {
  height: 0;
  width: 0;
  visibility: hidden; }

@media screen and (max-width: 767px) {
  .mobile-display-none {
    display: none; }

  .desktop-display-none {
    display: flex; } }
@media screen and (max-width: 479px) {
  .page-title {
    font-size: 1.3rem; } }
.error-message {
  color: #ff3838 !important;
  font-size: 1.3rem; }

.success-message {
  color: #daaf37;
  font-size: 1.3rem; }

@media screen and (max-width: 767px) {
  .error-message, .success-message {
    font-size: 1.2rem; } }
.tooltip {
  position: relative; }
  .tooltip .tooltip-content {
    background-color: #191815;
    color: #daaf37;
    border: 1px solid #daaf37;
    border-radius: 0.4rem;
    visibility: hidden;
    width: 20rem;
    padding: 1rem 0;
    text-align: center;
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-bottom: 1.5rem;
    margin-left: -10rem; }
    .tooltip .tooltip-content::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -0.5rem;
      border: 0.5rem solid transparent;
      border-top-color: #daaf37; }

.login-form-container {
  background: #242320;
  color: white;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 46rem;
  margin: 1rem; }

.login-header {
  font-size: 5rem;
  width: 100%;
  padding: 2.5rem 1.5rem 0 1.5rem;
  text-align: center; }

.login-form {
  padding: 2rem;
  font-size: 1.5rem; }

.icon-form {
  background: #191815;
  border-radius: 0.4rem 0 0 0.4rem;
  height: 100%;
  min-width: 5rem; }
  .icon-form i {
    opacity: 0.6; }

.input-container, .input-focus-within {
  margin: 2rem 0;
  height: 5rem; }
  .input-container input[type=text], .input-container input[type=password], .input-container input[type=email], .input-focus-within input[type=text], .input-focus-within input[type=password], .input-focus-within input[type=email] {
    background: #191815;
    caret-color: white;
    padding: 0.5rem 0;
    height: 100%;
    width: 100%;
    border: 0;
    border-radius: 0  0.4rem 0.4rem 0; }
    .input-container input[type=text]:valid, .input-container input[type=password]:valid, .input-container input[type=email]:valid, .input-focus-within input[type=text]:valid, .input-focus-within input[type=password]:valid, .input-focus-within input[type=email]:valid {
      color: rgba(255, 255, 255, 0.6); }
    .input-container input[type=text]:focus, .input-container input[type=password]:focus, .input-container input[type=email]:focus, .input-focus-within input[type=text]:focus, .input-focus-within input[type=password]:focus, .input-focus-within input[type=email]:focus {
      color: white; }

.input-focus-within:focus-within {
  color: white;
  -webkit-box-shadow: 0px 0px 0.5rem 0.2rem #daaf37;
  -moz-box-shadow: 0px 0px 0.5rem 0.2rem #daaf37;
  box-shadow: 0px 0px 0.5rem 0.2rem #daaf37; }
.input-focus-within:focus-within i, .input-focus-within:focus-within span, .input-focus-within:focus-within label {
  opacity: 1; }

.login-error-messages {
  height: 1.5rem;
  text-align: center; }

@media screen and (max-width: 479px) {
  .login-form {
    padding: 1rem;
    font-size: 1.3rem; }

  .login-form-container {
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 0; } }
.page-not-found-container {
  color: white; }
  .page-not-found-container img {
    padding: 1rem;
    width: 100%;
    height: auto; }

.page-not-found-content {
  text-align: center;
  width: 42rem;
  padding: 1.5rem;
  margin-left: 5rem; }
  .page-not-found-content h1 {
    font-size: 6rem;
    padding-bottom: 1rem; }
  .page-not-found-content h2 {
    font-size: 3rem;
    padding-bottom: 5rem; }

.page-not-found-link {
  background: #daaf37;
  color: #343233;
  border-radius: 0.5rem;
  display: inline-block;
  font-size: 3rem;
  line-height: 8rem;
  height: 8rem;
  width: 100%; }
  .page-not-found-link:hover {
    -webkit-transition-duration: 0.3s;
    /* Safari */
    transition-duration: 0.3s;
    background: #ffc31f; }

@media screen and (max-width: 1023px) {
  .page-not-found-container {
    flex-direction: column; }
    .page-not-found-container img {
      width: 28rem;
      height: auto; }

  .page-not-found-content {
    width: 47rem;
    margin-top: 5rem;
    margin-left: 0; }
    .page-not-found-content h1 {
      font-size: 5rem; }
    .page-not-found-content h2 {
      font-size: 2.5rem; }

  .page-not-found-link {
    font-size: 2.5rem; } }
@media screen and (max-width: 479px) {
  .page-not-found-container img {
    width: 19rem; }

  .page-not-found-content {
    width: 100%;
    padding: 0 1rem;
    margin-top: 1rem; }
    .page-not-found-content h1 {
      font-size: 4rem;
      padding-bottom: 1.5rem; }
    .page-not-found-content h2 {
      font-size: 2rem;
      padding-bottom: 4rem; }

  .page-not-found-link {
    font-size: 2rem;
    height: 5rem;
    line-height: 5rem; } }
.pin-container {
  color: white;
  background: #242320;
  width: 40%;
  height: 3vh;
  margin: 0.5rem 5%;
  padding: 0;
  font-size: 1.3rem;
  text-align: center;
  border-radius: 0.4rem; }
  .pin-container .pin-name {
    width: 50%; }
  .pin-container i {
    min-width: 3rem;
    cursor: pointer; }
  .pin-container button {
    height: 100%;
    width: 25%;
    border: none;
    text-decoration: none;
    border-radius: 0.4rem 0 0 0.4rem; }
  .pin-container button:nth-child(odd) {
    border-radius: 0 0.4rem 0.4rem 0; }

.button-off {
  background: #daaf37;
  color: #343233;
  -webkit-transition-duration: 0.3s;
  /* Safari */
  transition-duration: 0.3s; }
  .button-off:hover {
    background: #ffc31f; }

.button-on {
  background: #218c74;
  color: white;
  -webkit-transition-duration: 0.3s;
  /* Safari */
  transition-duration: 0.3s; }
  .button-on:hover {
    background: #1abc9c; }

.fa-lock {
  color: #ee5253; }

.error-message-gpio {
  padding-top: 2rem; }

@media screen and (max-width: 767px) {
  .pin-container {
    height: auto;
    flex-wrap: wrap;
    font-size: 1.2rem;
    justify-content: space-between; }
    .pin-container span {
      height: 2.5rem;
      line-height: 2.5rem; }
    .pin-container .pin-name {
      width: 35%; }
    .pin-container .pin-info {
      display: none;
      width: 100%;
      text-align: center; }
    .pin-container button {
      width: 50%;
      height: 2.5rem; } }
@media screen and (max-width: 479px) {
  .pin-container {
    width: 100%; }
    .pin-container .pin-name {
      width: 75%; } }
.table-main-container {
  background: #242320;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 5%; }

.table-header {
  display: flex;
  width: 100%;
  font-size: 1.5rem; }

.table-tabs {
  color: white;
  border: 0;
  height: 5rem;
  width: 50%; }

.table-content {
  display: block;
  height: 65vh;
  margin: 1.5rem 0;
  padding: 0 1.5rem;
  font-size: 1.3rem;
  overflow-y: auto; }

.table-container {
  width: 100%;
  display: table; }
  .table-container th, .table-container td {
    height: 3rem;
    text-align: center;
    vertical-align: middle; }
  .table-container td {
    pointer-events: auto;
    cursor: pointer; }
  .table-container tr {
    background: #f8f8f8; }
  .table-container tr:nth-child(odd) {
    background: #beb69c; }
  .table-container tr:hover {
    background: #36342f;
    color: white; }
  .table-container tr:first-child {
    background: #36342f;
    color: white; }

.table-footer {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  width: 100%;
  padding: 0.5rem; }
  .table-footer button {
    margin-right: 0.5rem; }
  .table-footer button:last-child {
    margin-right: 0; }

.table-device-tab {
  background: inherit;
  color: #daaf37; }

.table-user-tab {
  background: inherit; }

.table-user-window {
  display: none; }

.row-active {
  background: #daaf37 !important;
  color: #343233 !important; }

@media screen and (max-width: 479px) {
  .table-main-container {
    height: 100%;
    border-radius: 0;
    margin: 0; }

  .table-header {
    font-size: 1.3rem; }

  .table-content {
    height: 65vh;
    padding: 0 0.5rem;
    margin: 0;
    font-size: 1.2rem;
    overflow: auto; }
    .table-content th, .table-content td {
      min-width: 10rem; }

  .table-footer {
    justify-content: center;
    height: auto;
    flex-wrap: wrap; }
    .table-footer button {
      height: 3rem;
      width: 30%;
      margin: 0.4rem; }
    .table-footer button:last-child {
      margin-right: 0.5rem; } }
.device-status-container {
  background: #363430;
  flex-direction: column;
  border-radius: 0.5rem;
  width: 100%;
  margin: 0 5%; }
  .device-status-container .device-status-content-header {
    width: 100%;
    height: 5rem;
    padding: 0.5rem; }
    .device-status-container .device-status-content-header button {
      margin-right: 0.5rem; }
    .device-status-container .device-status-content-header button:last-child {
      margin-right: 0; }
  .device-status-container .device-status-content {
    height: 100%;
    width: 100%;
    flex-wrap: wrap; }
    .device-status-container .device-status-content .chart-container {
      width: 52rem;
      height: 40rem;
      margin: 2rem 1rem; }

@media screen and (max-width: 479px) {
  .device-status-container {
    margin: 0; } }

/*# sourceMappingURL=main.css.map */
