{% extends 'base.html' %}

{% block head %}
{{ super() }}
<script src="js/socket/socket.io.min.js"></script>
<script src="js/gpio/main.js"></script>
<script>
    let gpioSocket;

    /**
     * Here we initiate Socket client and define 2 main routes we will be using.
     */
    $(document).ready(function() {
        gpioSocket = io.connect('http://{{ socket_url }}:{{ socket_port }}/gpio');
        // This route gathers board status just for this client and executed when Socket client is connected to server.
        gpioSocket.on('connect', function() {
            gpioSocket.emit("join");
            gpioSocket.emit("getStatus", {"justForMe": true})
        });
        // Main workhorse - retrieves the current board state, populates container elements with data and triggers further processing.
        gpioSocket.on("status", function(data) {
            processPins(data.pins_status);
        })
    });
</script>
{% endblock %}

{% block content %}
    <div class="head-info">
        <span>Pin congiguration</span>
    </div>

<div class="flex-container">
    <div class="pin-container pin-power">
        <span>+3.3V Power</span>
    </div>
    <div class="pin-container pin-power">
        <span>+5V Power</span>
    </div>
    <div class="pin-container icon-gpio text-gpio" data-pinId="8">
        <i class="icon-info fas fa-info-circle" data-toggle="tooltip" title="PA12/TWI0/SDA/DI_RX"></i>
        <span>wPi 8</span>
        <i class="fas fa-lock-open lock-icon"></i>
        <button class="btn-gpio mode-switch btn-off">OUT</button>
        <button class="btn-gpio status-switch btn-off">OFF</button>
        <input type="hidden" class="mode-switch-input" value="">
        <input type="hidden" class="status-switch-input" value="">
        <input type="hidden" class="lock-input" value="">
    </div>
    <div class="pin-container pin-power">
        <span>+5V Power</span>
    </div>
    <div class="pin-container icon-gpio text-gpio" data-pinId="9">
        <i class="icon-info fas fa-info-circle" data-toggle="tooltip" title="PA11/TWI0_SCK/DI_TX/SLC"></i>
        <span>wPi 9</span>
        <i class="fas fa-lock-open lock-icon"></i>
        <button class="btn-gpio mode-switch btn-off">OUT</button>
        <button class="btn-gpio status-switch btn-off">OFF</button>
        <input type="hidden" class="mode-switch-input" value="">
        <input type="hidden" class="status-switch-input" value="">
        <input type="hidden" class="lock-input" value="">
    </div>
    <div class="pin-container pin-gnd">
        <span>Ground</span>
    </div>
    <div class="pin-container icon-gpio text-gpio" data-pinId="7">
        <i class="icon-info fas fa-info-circle" data-toggle="tooltip" title="PA6/SIM_PWREN/PWM1"></i>
        <span>wPi 7</span>
        <i class="fas fa-lock-open lock-icon"></i>
        <button class="btn-gpio mode-switch btn-off">OUT</button>
        <button class="btn-gpio status-switch btn-off">OFF</button>
        <input type="hidden" class="mode-switch-input" value="">
        <input type="hidden" class="status-switch-input" value="">
        <input type="hidden" class="lock-input" value="">
    </div>
    <div class="pin-container icon-gpio text-gpio" data-pinId="15">
        <button class="btn-gpio status-switch btn-off">OFF</button>
        <button class="btn-gpio mode-switch btn-off">OUT</button>
        <i class="fas fa-lock-open lock-icon"></i>
        <span>wPi 15</span>
        <i class="icon-info fas fa-info-circle" data-toggle="tooltip" title="PA13/SPI1_CS/UART3_TX"></i>
        <input type="hidden" class="mode-switch-input" value="">
        <input type="hidden" class="status-switch-input" value="">
        <input type="hidden" class="lock-input" value="">
    </div>
    <div class="pin-container pin-gnd">
        <span>Ground</span>
    </div>
    <div class="pin-container icon-gpio text-gpio" data-pinId="16">
        <button class="btn-gpio status-switch btn-off">OFF</button>
        <button class="btn-gpio mode-switch btn-off">OUT</button>
        <i class="fas fa-lock-open lock-icon"></i>
        <span>wPi 16</span>
        <i class="icon-info fas fa-info-circle" data-toggle="tooltip" title="PA14/SPI1_CLK/UART_RX"></i>
        <input type="hidden" class="mode-switch-input" value="">
        <input type="hidden" class="status-switch-input" value="">
        <input type="hidden" class="lock-input" value="">
    </div>
    <div class="pin-container icon-gpio text-gpio" data-pinId="0">
        <i class="icon-info fas fa-info-circle" data-toggle="tooltip" title="PA1/UART2_RX/JTAG_CK"></i>
        <span>wPi 0</span>
        <i class="fas fa-lock-open lock-icon"></i>
        <button class="btn-gpio mode-switch btn-off">OUT</button>
        <button class="btn-gpio status-switch btn-off">OFF</button>
        <input type="hidden" class="mode-switch-input" value="">
        <input type="hidden" class="status-switch-input" value="">
        <input type="hidden" class="lock-input" value="">
    </div>
    <div class="pin-container icon-gpio text-gpio" data-pinId="1">
        <button class="btn-gpio status-switch btn-off">OFF</button>
        <button class="btn-gpio mode-switch btn-off">OUT</button>
        <i class="fas fa-lock-open lock-icon"></i>
        <span>wPi 1</span>
        <i class="icon-info fas fa-info-circle" data-toggle="tooltip" title="PD14/RGMII_NULL"></i>
        <input type="hidden" class="mode-switch-input" value="">
        <input type="hidden" class="status-switch-input" value="">
        <input type="hidden" class="lock-input" value="">
    </div>
    <div class="pin-container icon-gpio text-gpio" data-pinId="2">
        <i class="icon-info fas fa-info-circle" data-toggle="tooltip" title="PA0/UART2_TX/JTAG_MS"></i>
        <span>wPi 2</span>
        <i class="fas fa-lock-open lock-icon"></i>
        <button class="btn-gpio mode-switch btn-off">OUT</button>
        <button class="btn-gpio status-switch btn-off">OFF</button>
        <input type="hidden" class="mode-switch-input" value="">
        <input type="hidden" class="status-switch-input" value="">
        <input type="hidden" class="lock-input" value="">
    </div>
    <div class="pin-container pin-gnd">
        <span>Ground</span>
    </div>
    <div class="pin-container icon-gpio text-gpio" data-pinId="3">
        <i class="icon-info fas fa-info-circle" data-toggle="tooltip" title="PA3/UART2_CTS/JTAG_DI"></i>
        <span>wPi 3</span>
        <i class="fas fa-lock-open lock-icon"></i>
        <button class="btn-gpio mode-switch btn-off">OUT</button>
        <button class="btn-gpio status-switch btn-off">OFF</button>
        <input type="hidden" class="mode-switch-input" value="">
        <input type="hidden" class="status-switch-input" value="">
        <input type="hidden" class="lock-input" value="">
    </div>
    <div class="pin-container icon-gpio text-gpio" data-pinId="4">
        <button class="btn-gpio status-switch btn-off">OFF</button>
        <button class="btn-gpio mode-switch btn-off">OUT</button>
        <i class="fas fa-lock-open lock-icon"></i>
        <span>wPi 4</span>
        <i class="icon-info fas fa-info-circle" data-toggle="tooltip" title="PC4/NCE0"></i>
        <input type="hidden" class="mode-switch-input" value="">
        <input type="hidden" class="status-switch-input" value="">
        <input type="hidden" class="lock-input" value="">
    </div>
    <div class="pin-container pin-power">
        <span>+3.3V Power</span>
    </div>
    <div class="pin-container icon-gpio text-gpio" data-pinId="5">
        <button class="btn-gpio status-switch btn-off">OFF</button>
        <button class="btn-gpio mode-switch btn-off">OUT</button>
        <i class="fas fa-lock-open lock-icon"></i>
        <span>wPi 5</span>
        <i class="icon-info fas fa-info-circle" data-toggle="tooltip" title="PC7/NRB1"></i>
        <input type="hidden" class="mode-switch-input" value="">
        <input type="hidden" class="status-switch-input" value="">
        <input type="hidden" class="lock-input" value="">
    </div>
    <div class="pin-container icon-gpio text-gpio" data-pinId="12">
        <i class="icon-info fas fa-info-circle" data-toggle="tooltip" title="PC0/NAND_WE#/SPI0_MOSI"></i>
        <span>wPi 12</span>
        <i class="fas fa-lock-open lock-icon"></i>
        <button class="btn-gpio mode-switch btn-off">OUT</button>
        <button class="btn-gpio status-switch btn-off">OFF</button>
        <input type="hidden" class="mode-switch-input" value="">
        <input type="hidden" class="status-switch-input" value="">
        <input type="hidden" class="lock-input" value="">
    </div>
    <div class="pin-container pin-gnd">
        <span>Ground</span>
    </div>
    <div class="pin-container icon-gpio text-gpio" data-pinId="13">
        <i class="icon-info fas fa-info-circle" data-toggle="tooltip" title="PC1/NALE/SPI0_MISO"></i>
        <span>wPi 13</span>
        <i class="fas fa-lock-open lock-icon"></i>
        <button class="btn-gpio mode-switch btn-off">OUT</button>
        <button class="btn-gpio status-switch btn-off">OFF</button>
        <input type="hidden" class="mode-switch-input" value="">
        <input type="hidden" class="status-switch-input" value="">
        <input type="hidden" class="lock-input" value="">
    </div>
    <div class="pin-container icon-gpio text-gpio" data-pinId="6">
        <button class="btn-gpio status-switch btn-off">OFF</button>
        <button class="btn-gpio mode-switch btn-off">OUT</button>
        <i class="fas fa-lock-open lock-icon"></i>
        <span>wPi 6</span>
        <i class="icon-info fas fa-info-circle" data-toggle="tooltip" title="PA2/UART2_RTS/JTAG_DO"></i>
        <input type="hidden" class="mode-switch-input" value="">
        <input type="hidden" class="status-switch-input" value="">
        <input type="hidden" class="lock-input" value="">
    </div>
    <div class="pin-container icon-gpio text-gpio" data-pinId="14">
        <i class="icon-info fas fa-info-circle" data-toggle="tooltip" title="PC2/NCLE/SPI0_CLK"></i>
        <span>wPi 14</span>
        <i class="fas fa-lock-open lock-icon"></i>
        <button class="btn-gpio mode-switch btn-off">OUT</button>
        <button class="btn-gpio status-switch btn-off">OFF</button>
        <input type="hidden" class="mode-switch-input" value="">
        <input type="hidden" class="status-switch-input" value="">
        <input type="hidden" class="lock-input" value="">
    </div>
    <div class="pin-container icon-gpio text-gpio" data-pinId="10">
        <button class="btn-gpio status-switch btn-off">OFF</button>
        <button class="btn-gpio mode-switch btn-off">OUT</button>
        <i class="fas fa-lock-open lock-icon"></i>
        <span>wPi 10</span>
        <i class="icon-info fas fa-info-circle" data-toggle="tooltip" title="PC3/NCE1/SPI0_CS"></i>
        <input type="hidden" class="mode-switch-input" value="">
        <input type="hidden" class="status-switch-input" value="">
        <input type="hidden" class="lock-input" value="">
    </div>
    <div class="pin-container pin-gnd">
        <span>Ground</span>
    </div>
    <div class="pin-container icon-gpio text-gpio" data-pinId="11">
        <button class="btn-gpio status-switch btn-off">OFF</button>
        <button class="btn-gpio mode-switch btn-off">OUT</button>
        <i class="fas fa-lock-open lock-icon"></i>
        <span>wPi 11</span>
        <i class="icon-info fas fa-info-circle" data-toggle="tooltip" title="PA21/PCM0_DIN/SIM_VPPEN"></i>
        <input type="hidden" class="mode-switch-input" value="">
        <input type="hidden" class="status-switch-input" value="">
        <input type="hidden" class="lock-input" value="">
    </div>
    <div class="pin-container icon-gpio text-gpio" data-pinId="30">
        <i class="icon-info fas fa-info-circle" data-toggle="tooltip" title="PA19/PCM0_CLK/TWI1_SDA"></i>
        <span>wPi 30</span>
        <i class="fas fa-lock-open lock-icon"></i>
        <button class="btn-gpio mode-switch btn-off">OUT</button>
        <button class="btn-gpio status-switch btn-off">OFF</button>
        <input type="hidden" class="mode-switch-input" value="">
        <input type="hidden" class="status-switch-input" value="">
        <input type="hidden" class="lock-input" value="">
    </div>
    <div class="pin-container icon-gpio text-gpio" data-pinId="31">
        <button class="btn-gpio status-switch btn-off">OFF</button>
        <button class="btn-gpio mode-switch btn-off">OUT</button>
        <i class="fas fa-lock-open lock-icon"></i>
        <span>wPi 31</span>
        <i class="icon-info fas fa-info-circle" data-toggle="tooltip" title="PA18/PCM0_SYNC/TWI1_SCK"></i>
        <input type="hidden" class="mode-switch-input" value="">
        <input type="hidden" class="status-switch-input" value="">
        <input type="hidden" class="lock-input" value="">
    </div>
    <div class="pin-container icon-gpio text-gpio" data-pinId="21">
        <i class="icon-info fas fa-info-circle" data-toggle="tooltip" title="PA7/SIM_CLK"></i>
        <span>wPi 21</span>
        <i class="fas fa-lock-open lock-icon"></i>
        <button class="btn-gpio mode-switch btn-off">OUT</button>
        <button class="btn-gpio status-switch btn-off">OFF</button>
        <input type="hidden" class="mode-switch-input" value="">
        <input type="hidden" class="status-switch-input" value="">
        <input type="hidden" class="lock-input" value="">
    </div>
    <div class="pin-container pin-gnd">
        <span>Ground</span>
    </div>
    <div class="pin-container icon-gpio text-gpio" data-pinId="22">
        <i class="icon-info fas fa-info-circle" data-toggle="tooltip" title="PA8/SIM_DATA"></i>
        <span>wPi 22</span>
        <i class="fas fa-lock-open lock-icon"></i>
        <button class="btn-gpio mode-switch btn-off">OUT</button>
        <button class="btn-gpio status-switch btn-off">OFF</button>
        <input type="hidden" class="mode-switch-input" value="">
        <input type="hidden" class="status-switch-input" value="">
        <input type="hidden" class="lock-input" value="">
    </div>
    <div class="pin-container icon-gpio text-gpio" data-pinId="26">
        <button class="btn-gpio status-switch btn-off">OFF</button>
        <button class="btn-gpio mode-switch btn-off">OUT</button>
        <i class="fas fa-lock-open lock-icon"></i>
        <span>wPi 26</span>
        <i class="icon-info fas fa-info-circle" data-toggle="tooltip" title="PG8/UART1_RTS"></i>
        <input type="hidden" class="mode-switch-input" value="">
        <input type="hidden" class="status-switch-input" value="">
        <input type="hidden" class="lock-input" value="">
    </div>
    <div class="pin-container icon-gpio text-gpio" data-pinId="23">
        <i class="icon-info fas fa-info-circle" data-toggle="tooltip" title="PA9/SIM_RST"></i>
        <span>wPi 23</span>
        <i class="fas fa-lock-open lock-icon"></i>
        <button class="btn-gpio mode-switch btn-off">OUT</button>
        <button class="btn-gpio status-switch btn-off">OFF</button>
        <input type="hidden" class="mode-switch-input" value="">
        <input type="hidden" class="status-switch-input" value="">
        <input type="hidden" class="lock-input" value="">
    </div>
    <div class="pin-container pin-gnd">
        <span>Ground</span>
    </div>
    <div class="pin-container icon-gpio text-gpio" data-pinId="24">
        <i class="icon-info fas fa-info-circle" data-toggle="tooltip" title="PA10/SIM_DET"></i>
        <span>wPi 24</span>
        <i class="fas fa-lock-open lock-icon"></i>
        <button class="btn-gpio mode-switch btn-off">OUT</button>
        <button class="btn-gpio status-switch btn-off">OFF</button>
        <input type="hidden" class="mode-switch-input" value="">
        <input type="hidden" class="status-switch-input" value="">
        <input type="hidden" class="lock-input" value="">
    </div>
    <div class="pin-container icon-gpio text-gpio" data-pinId="27">
        <button class="btn-gpio status-switch btn-off">OFF</button>
        <button class="btn-gpio mode-switch btn-off">OUT</button>
        <i class="fas fa-lock-open lock-icon"></i>
        <span>wPi 27</span>
        <i class="icon-info fas fa-info-circle" data-toggle="tooltip" title="PG9/UART1_CTS"></i>
        <input type="hidden" class="mode-switch-input" value="">
        <input type="hidden" class="status-switch-input" value="">
        <input type="hidden" class="lock-input" value="">
    </div>
    <div class="pin-container icon-gpio text-gpio" data-pinId="25">
        <i class="icon-info fas fa-info-circle" data-toggle="tooltip" title="PA20/PCM0_DOUT/SIM_VPPEN"></i>
        <span>wPi 25</span>
        <i class="fas fa-lock-open lock-icon"></i>
        <button class="btn-gpio mode-switch btn-off">OUT</button>
        <button class="btn-gpio status-switch btn-off">OFF</button>
        <input type="hidden" class="mode-switch-input" value="">
        <input type="hidden" class="status-switch-input" value="">
        <input type="hidden" class="lock-input" value="">
    </div>
    <div class="pin-container icon-gpio text-gpio" data-pinId="28">
        <button class="btn-gpio status-switch btn-off">OFF</button>
        <button class="btn-gpio mode-switch btn-off">OUT</button>
        <i class="fas fa-lock-open lock-icon"></i>
        <span>wPi 28</span>
        <i class="icon-info fas fa-info-circle" data-toggle="tooltip" title="PG6/UART1_TX"></i>
        <input type="hidden" class="mode-switch-input" value="">
        <input type="hidden" class="status-switch-input" value="">
        <input type="hidden" class="lock-input" value="">
    </div>
    <div class="pin-container pin-gnd">
        <span>Ground</span>
    </div>
    <div class="pin-container icon-gpio text-gpio" data-pinId="29">
        <button class="btn-gpio status-switch btn-off">OFF</button>
        <button class="btn-gpio mode-switch btn-off">OUT</button>
        <i class="fas fa-lock-open lock-icon"></i>
        <span>wPi 29</span>
        <i class="icon-info fas fa-info-circle" data-toggle="tooltip" title="PG7/UART1_RX"></i>
        <input type="hidden" class="mode-switch-input" value="">
        <input type="hidden" class="status-switch-input" value="">
        <input type="hidden" class="lock-input" value="">
    </div>
</div>
{% endblock %}