{% extends 'base.html' %}

{% block head %}
{{ super() }}
    <script src="/js/index/home_page_processing.js"></script>
    <script src="/js/index/home_page_preloader.js"></script>
    <script src="/js/index/home_page_table_tab.js"></script>
    <script src="/js/index/home_page_modal_windows.js"></script>
{% endblock %}

{% block content %}

    <div class="page-title">
        <span>Home page</span>
    </div>

    <div class="content-container flex-container-center">
        <div class="table-main-container">
            <div class="tab-header">
                <button class="tab-link tab-link-devices">Devices</button>
                <button class="tab-link tab-link-users">Users</button>
            </div>
            <div class="tab-content devices">
                <div id="table_device_preloader" class="preloader-container">
                    <div class="preloader"></div>
                </div>
                <table id="table_device" class="table-container table-device">
                    <tr>
                        <th>Device ID</th>
                        <th>Deviсe Type</th>
                        <th>Last Address</th>
                        <th>Last online time</th>
                        <th>Status</th>
                    </tr>
                </table>
            </div>
            <div class="tab-content users">
                <div id="table_users_preloader" class="preloader-container">
                    <div class="preloader"></div>
                </div>
                <table id="table_users" class="table-container">
                    <tr>
                        <th>User name</th>
                        <th>User email</th>
                        <th>Last login</th>
                        <th>Enabled</th>
                    </tr>
                </table>
            </div>
            <div class="tab-footer devices">
                <div class="tab-footer-left">
                    <button class="open-modal-device btn-table btn-active" data-modal="add">Add</button>
                    <button class="open-modal-device btn-table" data-modal="edit">Edit</button>
                    <button class="btn-table" data-modal="debug">Debug</button>
                </div>
                <div class="tab-footer-right">
                    <button class="btn-table-arrow btn-active"><i class="fas fa-arrow-left"></i></button>
                    <span class="btn-table-arrow flex-container-center">1</span>
                    <button class="btn-table-arrow btn-active"><i class="fas fa-arrow-right"></i></button>
                </div>
            </div>
            <div class="tab-footer users">
                <div class="tab-footer-left">
                    <button class="open-modal-user btn-table btn-active" data-modal="add">Add</button>
                    <button class="open-modal-user btn-table" data-modal="edit">Edit</button>
                </div>
                <div class="tab-footer-right">
                    <button class="btn-table-arrow btn-active"><i class="fas fa-arrow-left"></i></button>
                    <span class="btn-table-arrow flex-container-center">1</span>
                    <button class="btn-table-arrow btn-active"><i class="fas fa-arrow-right"></i></button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block modal_content %}
    <!-- Create modal box for create a new device and edit device -->
    <div id="modal_device" class="modal position-fixed full-size-display">
        <div class="modal-container">
            <div class="modal-header">
                <span id="modal_header_device"></span>
            </div>
            <div class="modal-content">
                <input id="modal_device_id_hidden" type="hidden" value="">
                <div class="modal-content-block flex-container-center input-focus-within">
                    <span>Device ID</span>
                    <input id="modal_device_id" type="text" value="" placeholder="" maxlength="20" autofocus>
                </div>
                <div class="modal-content-block flex-container-center input-focus-within">
                    <span>Deviсe key</span>
                    <input id="modal_device_key" type="text" value="" placeholder="Enter device key" maxlength="40">
                </div>
                <div class="modal-content-block flex-container-center input-focus-within">
                    <span>Deviсe type</span>
                    <select id="modal_device_type" name="device_type" title="">
                        <option value="1">Orange Pi Lite</option>
                        <option value="2">Orange Pi Zero</option>
                        <option value="3">Orange Pi One</option>
                        <option value="4">Orange Pi PC</option>
                        <option value="5">Orange Pi Plus</option>
                        <option value="6">Orange Pi 2G-IoT</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btn_modal_device_add" class="btn-modal">Add</button>
                <button id="btn_modal_devise_edit" class="btn-modal">Submit</button>
                <button class="btn-modal close-modal" data-modal="device">Close</button>
            </div>
        </div>
    </div>

    <!-- Create modal box for create a new device and edit user -->
    <div id="modal_user" class="modal position-fixed full-size-display">
        <div class="modal-container">
            <div class="modal-header">
                <span id="modal_header_user"></span>
            </div>
            <div class="modal-content">
                <input id="modal_user_id_hidden" type="hidden" value="">
                <div class="modal-content-block flex-container-center input-focus-within">
                    <span>First Name</span>
                    <input id="modal_user_first_name" type="text" value="" placeholder="" maxlength="20" autofocus>
                </div>
                <div class="modal-content-block flex-container-center input-focus-within">
                    <span>Last Name</span>
                    <input id="modal_user_last_name" type="text" value="" placeholder="" maxlength="20">
                </div>
                <div class="modal-content-block flex-container-center input-focus-within">
                    <span>Email</span>
                    <input id="modal_user_email" type="email" value="" placeholder="" maxlength="20" autocomplete="off">
                </div>
                <div class="modal-content-block flex-container-center input-focus-within">
                    <span>Password</span>
                    <input  id="modal_user_password" type="password" value="" placeholder="" maxlength="20" autocomplete="new-password">
                </div>
                <div class="modal-content-block flex-container-center input-focus-within">
                    <span>Password</span>
                    <input id="modal_user_confirm_password" type="password" value="" placeholder="" maxlength="20" autocomplete="off">
                </div>
                <div class="modal-content-block flex-container-center input-focus-within">
                    <span>Active</span>
                    <div class="flex-container-center modal-container-checkbox">
                        <div class="checkbox-container active-container-checkbox">
                            <input id="modal_user_active" class="checkbox" type="checkbox" value="">
                            <label for="checkbox">Active/Disabled</label>
                        </div>
                    </div>
                </div>
                <div class="modal-content-block flex-container-center input-focus-within">
                    <span>Roles</span>
                    <div class="modal-container-checkbox flex-container-center">
                        <div class="checkbox-container roles-container-checkbox">
                            <input class="checkbox modal-user-checkbox" type="checkbox" value="user">
                            <label for="checkbox">User</label>
                        </div>
                        <div class="checkbox-container  roles-container-checkbox">
                            <input class="checkbox modal-user-checkbox" type="checkbox" value="admin">
                            <label for="checkbox">Admin</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btn_modal_user_add" class="btn-modal">Add</button>
                <button id="btn_modal_user_edit" class="btn-modal">Submit</button>
                <button class="btn-modal close-modal" data-modal="user">Close</button>
            </div>
        </div>
    </div>

{% endblock %}
