//Styles for common buttons, checkboxes, radio buttons. In addition to links, and specific components.

.checkbox-container {
  color: $white-color-600;
  height: 100%;
}

.checkbox {
  background: $white-color-600;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 1rem;
  cursor: pointer;
  z-index: 1;
  &:hover {
    background: $white-color;
  }
  &:checked {
    background: $btn-default-color;
  }
  &:checked::before {
    font-size: $font-size-default-s;
    color: $white-color;
    content: '✔';
    text-align: center;
    height: 1.5rem;
    width: 1.5rem;
    display: inline-block;
    position: relative;
    bottom: 0.4rem;
  }
}

.button-link {
  background: $btn-default-color;
  color: $white-color;
  display: inline-block;
  font-size: 3rem;
  line-height: 6rem;
  height: 6rem;
  width: 100%;
  &:hover {
    @include transition-duration;
    background: $btn-default-color-hover;
  }
}

@include media-breakpoint-sm {
  .button-link {
    height: 4rem;
    line-height: 4rem;
    font-size: $font-size-sm-l;
  }
}