//Collection of all mixin

@mixin input-box-shadow {
  -webkit-box-shadow: 0px 0px 0.5rem 0.2rem $button-default;
  -moz-box-shadow: 0px 0px 0.5rem 0.2rem $button-default;
  box-shadow: 0px 0px 0.5rem 0.2rem $button-default;
}

@mixin transition-duration {
  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;
}
