<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>404 Not found</title>

    <!--Logo-->
    <link href="/img/logo.png" rel="shortcut icon" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="/img/logo.png">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">

    <!--Fonts-->
    <link rel="stylesheet" href="/css/font-faces.css">
    <link rel="stylesheet" href="/vendors/fontawesome-free-5.4.1-web/css/all.min.css">

    <!-- JS -->
    <script src="/js/jquery/jquery.js"></script>
    <script src="/js/404/404_random_page.js"></script>

</head>

<body>
    <div class="full-size-display flex-container-center page-not-found-container">
        <div>
            <img id="img-not-found" src="" alt="">
        </div>
        <div class="page-not-found-content">
            <h1>404 ERROR</h1>
            <h2>page not found</h2>
            <a href="/index" class="page-not-found-link">Go Home</a>
        </div>
    </div>
</body>
</html>
