{% extends 'base.html' %}
{% from "gpio/macros/_generate_pins.html" import render_pins %}

{% block head %}
{{ super() }}
<script src="/js/socket/socket.io.min.js"></script>
<script src="/js/main/other_variables.js"></script>
<script src="/js/gpio/gpio.js"></script>
<script src="/js/components/components_tooltip.js" ></script>
<script>
    let gpioSocket;

    /**
     * Here we initiate Socket client and define 2 main routes we will be using.
     */
    $(document).ready(function() {
        gpioSocket = io.connect('http://{{ socket_url }}:{{ socket_port }}/gpio');
        // This route gathers board status just for this client and executed when Socket client is connected to server.
        gpioSocket.on('connect', function() {
            gpioSocket.emit("join");
            gpioSocket.emit("getStatus", {"justForMe": true})
        });
        // Main workhorse - retrieves the current board state, populates container elements with data and triggers further processing.
        gpioSocket.on("status", function(data) {
            processPins(data.pins_status);
        })
    });
</script>
{% endblock %}

{% block content %}
    <div class="page-title">
        <span>Pin configuration</span>
    </div>

<div class="content-container flex-container-center">
    {{ render_pins(pins_config["pins"]) }}
</div>
{% endblock %}