//Styles for common buttons, checkboxes, radio buttons. In addition to links, and specific components.

.checkbox-container {
  color: $gray-color;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  .checkbox {
    background: $gray-color;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    height: 15px;
    width: 15px;
    margin-right: 10px;
    cursor: pointer;
    z-index: 1;
    &:hover {
      background: $white-color;
    }
    &:checked {
      background: $btn-default-color;
    }
    &:checked::before {
      font-size: $font-size-default-s;
      color: $white-color;
      content: '✔';
      text-align: center;
      height: 15px;
      width: 15px;
      display: inline-block;
      position: relative;
      bottom: 4px;
    }
  }
}
