//General page styles

* {
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  font-family: 'Sarpanch', sans-serif;
  @include bg-gradient-default;
}

a {
  text-decoration: none;
}