//Main styles for the page "Pin configuration"

.pin-container {
  background: $pin-bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.2rem;
  flex-basis: 40%;
  margin: 5px 5%;
  font-size: $font-size-default-s;
}

.icon-gpio i {
  color: $gpio-icon-color;
  flex: 1 1 10%;
  text-align: center;
}

.text-gpio span {
  flex: 1 1 50%;
  text-align: center;
}

.btn-gpio {
  color: $white-color;
  height: 2.2rem;
  flex: 0 0 15%;
  border: 0;
}

.btn-off {
  background: $btn-off-color;
  @include transition-duration;
  &:hover {
    background: $btn-off-color-hover;
  }
}

.btn-on {
  background: $btn-on-color;
  @include transition-duration;
  &:hover {
    background: $btn-on-color-hover;
  }
}

.pin-power {
  background: $power-color;
  color: $white-color;
}

.pin-gnd {
  background: $ground-color;
  color: $white-color;
}

.fa-lock, .fa-lock-open {
  &:before {
    cursor: pointer;
  }
}

.fa-lock {
  color: $btn-off-color !important;
}