//Styling the navigation bar and sidebar

.aside {
  background-color: $dark-color-400;
  display: flex;
  min-height: 100vh;
  overflow-y: hidden;
  .aside-nav {
    position: fixed;
    .aside-nav-box {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      & li {
        height: 50px;
      }
      & a {
        display: flex;
        align-items: center;
        height: 50px;
      }
      & img {
        height: 16px;
        padding: 0 15px;
      }
      & i {
        padding: 0 15px;
      }
    }
    .aside-element {
      & i, span {
        color: $white-color;
        font-size: $font-size-default-n;
      }
    }
    .aside-hover {
      opacity: 0.7;
      &:hover {
        background: $dark-color-300;
        opacity: 1;
      }
      &:active {
        background: $btn-default-color;
        opacity: 1;
      }
    }
  }
}

.main-section {
  display: flex;
  flex-direction: column;
}

.nav {
  @include nav-gradient-default;
  display: flex;
  align-items: center;
  position: fixed;
  height: 50px;
  .nav-content {
    height: 50px;
  }
  .nav-right {
    flex-grow: 10;
    & li {
      padding-right: 20px;
    }
    & span {
      padding-left: 10px;
    }
  }
  .nav-left {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    & li {
      padding-left: 15px;
    }
  }
}

.nav-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.nav-element {
  & i, span {
    color: $white-color;
    font-size: $font-size-default-l;
  }
  & a {
    display: block;
    min-height: 100%;
  }
}

#temp {
  display: inline-block;
  min-width: 80px;
  text-align: right;
}

#logo {
  background-color: $dark-color-400;
  & span {
    width: 100%;
    text-align: center;
    font-size: $font-size-default-l;
  }
}

#toggle-bars {
  cursor: pointer;
}

//Auxiliary classes. To manage adaptability

#logo-responsive {
  display: none;
}

.aside-responsive-on {
  width: $aside-responsive-on;
}

.aside-responsive-off {
  width: $aside-responsive-off;
  .aside-element span {
    display: none;
  }
  .aside-element a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #logo-responsive {
    display: block;
  }
}

.content-responsive-on {
  width: $content-responsive-on;
}

.content-responsive-off {
  width: $content-responsive-off;
}