//Main styles for the page "Pin configuration"

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  .pin-container {
    background: $pin-bg-color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 40%;
    min-height: 3vh;
    margin: 5px 5%;
    font-size: $text-size-default-s;
  }
}

.icon-gpio i {
  color: $gpio-icon-color;
  flex: 1 1 10%;
  text-align: center;
}

.text-gpio span {
  flex: 1 0 50%;
  text-align: center;
}

.btn-gpio {
  color: $text-light;
  min-height: 3vh;
  flex: 0 0 15%;
  border: 0;
}

.btn-off {
  background: $btn-off-color;
  @include transition-duration;
  &:hover {
    background: $btn-off-color-hover;
  }
}

.btn-on {
  background: $btn-on-color;
  @include transition-duration;
  &:hover {
    background: $btn-on-color-hover;
  }
}

.pin-power {
  background: $power-color;
  color: $text-light;
}

.pin-gnd {
  background: $ground-color;
  color: $text-light;
}

.fa-lock, .fa-lock-open {
  &:before {
    cursor: pointer;
  }
}

.fa-lock {
  color: $btn-off-color !important;
}