//Styling main classes for all other pages.

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 50px;
}

.head-info {
  color: $text-light;
  font-size: $text-size-default-l;
  margin: 15px 5% 0;
}
