// Variables for the section with navigation
$nav-bg-color: rgba(0, 0, 0, 0.4);
$nav-bg-color-hover: rgba(0, 0, 0, 0.3);
$text-light: rgb(255, 255, 255);

// Variables for buttons and links
$nav-bg-color-active: rgba(255, 199, 97, 1);
$btn-on-color: rgba(100, 193, 187, 1);
$btn-on-color-hover: rgba(86, 163, 158, 1);
$btn-off-color: rgba(255, 93, 93, 1) !important;
$btn-off-color-hover: rgba(246, 73, 73, 1);

// Variables for all other elements that are not included in a separate category.
$ground-color: rgba(0, 0, 0, 0.4) !important;
$power-color: rgba(255, 199, 97, 1) !important;
$pin-bg-color: rgba(255, 255, 255, 0.8);
$gpio-icon-color: rgba(200, 200, 200, 1);

//Variables for mixins
$bg-gr-color-default: rgba(210, 160, 101, 1);
$bg-gr-color-one: rgba(88, 75, 93, 1);
$bg-gr-color-two: rgba(114, 85, 90, 1);
$bg-gr-color-three: rgba(210, 160, 101, 1);
$bg-gr-color-four: rgba(156, 134, 121, 1);

/*Font sizes for the default page:
- Small (s);
- Normal (n);
- Large (l)*/
$text-size-default-s: 1.3rem;
$text-size-default-n: 1.5rem;
$text-size-default-l: 1.8rem;