// Variables for the section with navigation
$aside-bg-color: rgba(0, 0, 0, 0.4);
$aside-bg-color-hover: rgba(0, 0, 0, 0.3);

// Variables for buttons and links
$btn-default-color: rgba(222, 166, 64, 1);
$btn-default-color-hover: rgba(241, 162, 19, 1);
$btn-on-color: rgba(100, 193, 187, 1);
$btn-on-color-hover: rgba(86, 163, 158, 1);
$btn-off-color: rgba(255, 93, 93, 1);
$btn-off-color-hover: rgba(246, 73, 73, 1);

// Variables for all other elements that are not included in a separate category.
$ground-color: rgba(0, 0, 0, 0.4) !important;
$power-color: rgba(222, 166, 64, 1) !important;
$pin-bg-color: rgba(255, 255, 255, 0.8);
$gpio-icon-color: rgba(200, 200, 200, 1);

//Variables for mixins:
// -for background
$bg-gr-color-default: rgba(210, 160, 101, 1);
$bg-gr-color-one: rgba(88, 75, 93, 1);
$bg-gr-color-two: rgba(114, 85, 90, 1);
$bg-gr-color-three: rgba(210, 160, 101, 1);
$bg-gr-color-four: rgba(156, 134, 121, 1);

// -for navigation bar
$nav-gr-color-default: rgba(53, 45, 56, 1);
$nav-gr-color-one: rgba(53, 45, 56, 1);
$nav-gr-color-two: rgba(65, 49, 54, 1);
$nav-gr-color-three: rgba(88, 65, 55, 1);
$nav-gr-color-four: rgba(115, 86, 58, 1);

//General color scheme
$danger-color: rgba(246, 73, 73, 1) !important;
$white-color: rgb(255, 255, 255);
$white-color-900: rgba(255, 255, 255, 0.9);
$white-color-600: rgba(255, 255, 255, 0.6);
$white-color-400: rgba(255, 255, 255, 0.4);
$dark-color: rgba(0, 0, 0, 1);
$dark-color-800: rgba(0, 0, 0, 0.8);
$dark-color-700: rgba(0, 0, 0, 0.7);
$dark-color-400: rgba(0, 0, 0, 0.4);




//* Font sizes for the default page:
//* Small (s);
//* Normal (n);
//* Large (l)

$font-size-default-s: 1.3rem;
$font-size-default-n: 1.5rem;
$font-size-default-l: 1.8rem;