// Variables for the section with navigation
$nav-bg-color: #22a6b3;
$aside-bg-color: #3b3b3b;
$body-bg-color: #dcdcdc;
$text-light: #fff;

// Variables for buttons and links
$aside-btn-active-color: #8CC1C9;
$btn-on-color: #7ed6df;
$btn-off-color: #ff5b42;

// Variables for all other elements that are not included in a separate category.
$ground-color: #484848;
$power-color:#e2907a;
