.button {
  background: $button-default-disabled;
  color: $color-text;
  border: 0.1rem solid $button-default;
  border-radius: 0.4rem;
  font-size: $font-size-middle;
  cursor: not-allowed;
  width: 100%;
  height: 100%;
  @include transition-duration;
  &:disabled {
    cursor: not-allowed;
  }
}

.button-active {
  background: $button-default !important;
  color: $color-text-dark !important;
  cursor: pointer !important;
  &:hover {
    background: $button-default-hover !important;
  }
}

.button-modal-window {
  background: $button-default-disabled;
  color: $color-text-dark;
  cursor: default;
  border: none;
  width: 100%;
}

[id *='modal_user_button'], [id *='modal_device_button'] {
  display: none;
  margin-right: 0.5rem;
}

@include media-breakpoint-sm {
  .button-modal-window {
    height: 100%;
  }
  [id *='modal_user_button'], [id *='modal_device_button'] {
    margin-left: 0;
    margin-bottom: 2rem;
  }
  .button {
    font-size: $font-size-middle-mobile;
  }
}