.error-message {
  color: $color-danger;
  font-size: $font-size-small;
}

.success-message {
  color: $button-default;
  font-size: $font-size-small;
}

@include media-breakpoint-md {
  .error-message, .success-message {
    font-size: $font-size-small-mobile;
  }
}