//Styles for modal boxes

.modal {
  background: $white-color-300;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1010;
  overflow: auto;
  //Especially for IE (there will be bugs without these values)
  left: 0;
  top: 0;
}

.modal-container {
  background: $nav-default-color;
  width: 100%;
  max-width: 47rem;
  z-index: 1020;
}

.modal-header {
  background: $header-default-color;
  width: 100%;
  text-align: center;
  padding: 2rem 0;
  & span {
    color: $white-color;
    font-size: $font-size-default-l;
  }
}

.modal-content {
  color: $white-color;
  font-size: $font-size-default-n;
  padding: 2rem;
  width: 100%;
}

.modal-content-block {
  background: $header-default-color;
  margin: 1.5rem 0;
  & span {
    min-width: 11rem;
    padding-left: 1rem;
    opacity: 0.6;
  }
  & input[type = text], input[type = password], input[type = email], & select {
    background: $header-default-color;
    color: $white-color;
    caret-color: $white-color;
    border: none;
    height: $height-base-element-default;
    width: 100%;
  }
  & select {
    color: $white-color-600;
  }
}

.modal-content-block-roles {
  background: $header-default-color;
  margin: 1.5rem 0;
  height: 100%;
  & span {
    height: 100%;
    min-width: 11rem;
    padding-left: 1rem;
    opacity: 0.6;
  }
}

.modal-checkbox-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  background: $header-default-color;
  color: $white-color;
  width: 100%;
}

.modal-footer {
  background: $header-default-color;
  display: flex;
  height: $height-base-element-default;
  padding: 0.5rem;
}

@include media-breakpoint-sm {
  .modal-container {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    .modal-content {
      padding: 0 1rem;
    }
    .modal-content-block {
      margin: 2rem 0;
    }
    .modal-footer {
      background: inherit;
      position: absolute;
      flex-direction: column;
      left: 0;
      bottom: 0;
      padding: 1rem;
      width: 100%;
      height: 14rem;
    }
  }
}

