//Styling the navigation bar and sidebar

.sidebar-container {
  background-color: $dark-color-400;
  display: flex;
  min-height: 100vh;
  overflow-y: hidden;
}

.sidebar-navigation {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  & li {
    height: $height-base-element-default;
  }
  & a {
    display: flex;
    align-items: center;
    height: $height-base-element-default;
  }
  & i {
    padding: 0 1.5rem;
  }
}

.sidebar-element {
  & i, span {
    color: $white-color;
    font-size: $font-size-default-n;
  }
}

.sidebar-link-hover {
  opacity: 0.7;
  &:hover {
    background: $dark-color-300;
    opacity: 1;
  }
  &:active {
    background: $btn-default-color;
    opacity: 1;
  }
}

.navigation-container {
  background: $nav-default-color;
  height:$height-base-element-default;
}

.navigation-right {
  height: $height-base-element-default;
  flex-grow: 10;
  & li {
    padding-right: 20px;
  }
  & span {
    padding-left: 10px;
  }
}

.navigation-left {
  height: $height-base-element-default;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  & li {
    padding-left: 15px;
  }
}

.navigation-left-position-element {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.navigation-element {
  & i, & span {
    color: $white-color;
    font-size: $font-size-default-l;
  }
  & a {
    display: block;
    min-height: 100%;
  }
}

#logo {
  background-color: $dark-color-400;
  & span {
    width: 100%;
    text-align: center;
    font-size: $font-size-default-l;
  }
}

#toggle-bars {
  cursor: pointer;
}

//Auxiliary classes. To manage adaptability
#logo-responsive {
  display: none;
}

.sidebar-responsive-on {
  width: $aside-responsive-on-default;
}

.sidebar-responsive-off {
  width: $aside-responsive-off-default;
  .sidebar-element span {
    display: none;
  }
  .sidebar-element a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #logo-responsive {
    display: block;
  }
}

.content-responsive-on {
  width: $content-responsive-on-default;
}

.content-responsive-off {
  width: $content-responsive-off-default;
}