//Styling the navigation bar and sidebar

.sidebar-container {
  background-color: $nav-default-color;
  display: flex;
  min-height: 100vh;
  overflow-y: hidden;
}

.sidebar-navigation {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  & li {
    height: $height-base-element-default;
  }
  & a {
    display: flex;
    align-items: center;
    height: $height-base-element-default;
  }
  & i {
    padding: 0 1.5rem;
  }
}

.sidebar-element {
  & i, & span {
    color: $white-color;
    font-size: $font-size-default-n;
  }
}

.navigation-link-hover {
  opacity: 0.7;
  &:hover {
    background: $dark-color-300;
    opacity: 1;
  }
  &:active {
    background: $btn-default-color;
    opacity: 1;
  }
}

 //Styles for the top navigation bar
.navigation-container {
  background: $nav-default-color;
  height:$height-base-element-default;
}

.navigation-right {
  height: $height-base-element-default;
  flex-grow: 10;
  & li {
    padding-right: 2rem;
  }
  & span {
    padding-left: 1rem;
  }
}

.navigation-left {
  height: $height-base-element-default;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  & li {
    padding-left: 1.5rem;
  }
}

.navigation-left-position-element {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.navigation-element {
  & i, & span {
    color: $white-color;
    font-size: $font-size-default-l;
  }
  & a {
    display: block;
    min-height: 100%;
  }
}
//Mobile navigation
.mobile-menu-container {
  background: $nav-default-color;
  height: 100%;
  width: 0;
  z-index: 1010;
  overflow-x: hidden;
  margin-top: $height-base-element-default;
  top: 0;
  left: 0;
  transition: $navigation-transition;
  & ul {
    width: 100%;
  }
  & li {
    height: $height-base-element-default;
  }
  & a {
    display: flex;
    align-items: center;
    height: $height-base-element-default;
  }
  & i {
    padding: 0 1.5rem;
  }
  & span {
    visibility: hidden;
  }
}

#logo {
  background-color: $dark-color-400;
  & span {
    width: 100%;
    text-align: center;
    font-size: $font-size-default-l;
  }
}

//Auxiliary classes. To manage adaptability
#logo-responsive {
  display: none;
}

.sidebar-responsive-on {
  width: 20%;
  transition: $navigation-transition;
}

.sidebar-responsive-off {
  transition: $navigation-transition;
  width: 5%;
  .sidebar-element span {
    display: none;
  }
  .sidebar-element a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #logo-responsive {
    display: block;
  }
}

.content-responsive-on {
  width: 80%;
  transition: $navigation-transition;
}

.content-responsive-off {
  transition: $navigation-transition;
  width: 95%;
}

@include media-breakpoint-lg {
  .sidebar-element {
    & i, & span {
      font-size: $font-size-lg-n;
    }
  }
  .navigation-element {
    & i, & span {
      font-size: $font-size-lg-l;
    }
  }
  #logo {
    & span {
      font-size: $font-size-lg-l;
    }
  }
  .sidebar-responsive-on {
    width: 30%;
  }
  .sidebar-responsive-off {
    width: 5%;
  }
  .content-responsive-on {
    width: 70%;
  }
  .content-responsive-off {
    width: 95%;
  }
}

@include media-breakpoint-md {
  .sidebar-responsive-on {
    width: 0;
  }
  .sidebar-responsive-off {
    width: 0;
  }
  .content-responsive-on {
    width: 100%;
  }
  .content-responsive-off {
    width: 100%;
  }
  .navigation-container {
    background: $header-default-color;
  }
}