//Styling the navigation bar and sidebar

.sidebar-container {
  background-color: $color-navigation;
  display: flex;
  min-height: 100vh;
  overflow-y: hidden;
}

.sidebar-navigation {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  font-size: $font-size-middle;
  & li {
    height: $height-base-element-default;
    & a {
      color: $color-text;
      display: flex;
      align-items: center;
      height: 100%;
      & i {
        padding: 0 1.5rem;
      }
    }
  }
}

 //Styles for the top navigation bar
.navigation-container {
  background: $color-navigation;
  height:$height-base-element-default;
  font-size: $font-size-middle;
  z-index:1000;
}

.navigation-right {
  height: $height-base-element-default;
  flex-grow: 10;
  & ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    & li {
      padding-right: 2rem;
      & span {
        color: $color-text;
        padding-left: 1rem;
      }
      & i {
        color: $color-text;
      }
    }
  }
}

.navigation-left {
  height: $height-base-element-default;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  & li {
    padding-left: 1.5rem;
  }
}

//Mobile navigation
.mobile-menu-container {
  background: $color-navigation;
  height: 100%;
  width: 0;
  z-index: 1010;
  overflow-x: hidden;
  margin-top: $height-base-element-default;
  top: 0;
  left: 0;
  transition: $navigation-transition;
  & ul {
    width: 100%;
    & li {
      height: $height-base-element-default;
      & a {
        color: $color-text;
        display: flex;
        align-items: center;
        height: 100%;
        & i {
          padding: 0 1.5rem;
        }
        & span {
          visibility: hidden;
        }
      }
    }
  }
}

.navigation-link-hover {
  border: 0.1rem;
  &:hover {
    border-bottom: 0.1rem solid $button-default;
    border-top: 0.1rem solid $button-default;
    & span, & i {
      color: $button-default;
    }
  }
}

#logo {
  background: $color-header;
  & span {
    width: 100%;
    text-align: center;
  }
}

//Auxiliary classes. To manage adaptability
#logo-responsive {
  display: none;
}

.sidebar-responsive-on {
  width: 20%;
  transition: $navigation-transition;
}

.sidebar-responsive-off {
  transition: $navigation-transition;
  width: 5%;
  .sidebar-navigation span {
    display: none;
  }
  .sidebar-navigation a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #logo-responsive {
    display: block;
  }
}

.content-responsive-on {
  width: 80%;
  transition: $navigation-transition;
}

.content-responsive-off {
  transition: $navigation-transition;
  width: 95%;
}

@include media-breakpoint-lg {

  .sidebar-responsive-on {
    width: 30%;
  }

  .sidebar-responsive-off {
    width: 8%;
  }

  .content-responsive-on {
    width: 70%;
  }

  .content-responsive-off {
    width: 92%;
  }
}

@include media-breakpoint-md {
  .sidebar-responsive-on, .sidebar-responsive-off {
    width: 0;
  }
  .content-responsive-on, .content-responsive-off {
    width: 100%;
  }
  .navigation-container {
    background: $color-header;
  }
  .sidebar-navigation, .mobile-menu-container {
    font-size: $font-size-middle-mobile;
  }
}