//Styling main classes for all other pages.

//Base flex container responsible for centering elements
.flex-container-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

//Auxiliary section for main content
.main-section {
  display: flex;
  flex-direction: column;
}

//Container with the main content of the page
.main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-top: $height-base-element-default;
}

.page-title {
  color: $white-color;
  font-size: $font-size-default-l;
  margin: 1.5rem 5% 0;
}

.content-container {
  flex-wrap: wrap;
  margin: 1.5rem 0;
}

.position-fixed {
  position: fixed;
}

.full-size-display {
  height: 100vh;
  width: 100%;
}

// Media queries
@include media-breakpoint-xl {
  .page-title {
    font-size: $font-size-xl-l;
  }
}

@include media-breakpoint-lg {
  .page-title {
    font-size: $font-size-lg-l;
  }
}

@include media-breakpoint-md {
  .page-title {
    font-size: $font-size-md-l;
  }
}

@include media-breakpoint-sm {
  .page-title {
    font-size: $font-size-sm-l;
  }
}