.toggle-bar {
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  & :focus {
    outline-width: 0;
  }
  & [class *='bar-'] {
    background: $color-text;
    display: block;
    transform: rotate(0deg);
    transition: .3s ease all;
    height: 2px;
    width: 25px;
    margin-bottom: 4px;
  }
}

.toggle-bar-opened {
  .toggle-bar-top {
    background: $button-default;
    transform: rotate(45deg);
    transform-origin: 15% 15%;
  }
  .toggle-bar-middle {
    opacity: 0;
  }
  .toggle-bar-bottom {
    background: $button-default;
    transform: rotate(-45deg);
    transform-origin: 15% 95%;
  }
}