// General color scheme
$danger-color: rgba(246, 73, 73, 1) !important;
$bg-default-color: rgba(75, 75, 75, 1);
$nav-default-color: rgba(45, 45, 45, 1);
$header-default-color: rgba(27, 27, 27, 1);
$white-color: rgb(255, 255, 255);
$white-color-900: rgba(255, 255, 255, 0.9);
$white-color-700: rgba(255, 255, 255, 0.7);
$white-color-600: rgba(255, 255, 255, 0.6);
$white-color-400: rgba(255, 255, 255, 0.4);
$white-color-300: rgba(255, 255, 255, 0.3);
$dark-color: rgba(0, 0, 0, 1);
$dark-color-800: rgba(0, 0, 0, 0.8);
$dark-color-700: rgba(0, 0, 0, 0.7);
$dark-color-600: rgba(0, 0, 0, 0.6);
$dark-color-400: rgba(0, 0, 0, 0.4);
$dark-color-300: rgba(0, 0, 0, 0.3);

// Variables for buttons and links
$btn-default-color: rgba(229, 122, 70, 1);
$btn-default-color-hover: rgba(223, 99, 39, 1);
$btn-on-color: rgba(100, 193, 187, 1);
$btn-on-color-hover: rgba(86, 163, 158, 1);
$btn-off-color: rgba(255, 93, 93, 1);
$btn-off-color-hover: rgba(246, 73, 73, 1);

// Auxiliary variables for determining height and width
// For screens above 1440px
$aside-responsive-on-default: 20%;
$aside-responsive-off-default: 5%;
$content-responsive-on-default: 80%;
$content-responsive-off-default: 95%;
$font-size-default-s: 1.3rem; // Small (s);
$font-size-default-n: 1.5rem; // Normal (n);
$font-size-default-l: 1.8rem; // Large (l)
// Base variables for other variables
$height-base-element-default: 5rem;

// For max-width 1339px
$aside-responsive-on-xl: 20%;
$aside-responsive-off-xl: 5%;
$content-responsive-on-xl: 80%;
$content-responsive-off-xl: 95%;
$font-size-xl-s: 1.3rem; // Small (s);
$font-size-xl-n: 1.5rem; // Normal (n);
$font-size-xl-l: 1.8rem; // Large (l)
// Base variables for other variables
$height-base-element-xl: 5rem;

// For max-width 1023px
$aside-responsive-on-lg: 20%;
$aside-responsive-off-lg: 5%;
$content-responsive-on-lg: 80%;
$content-responsive-off-lg: 95%;
$font-size-lg-s: 1.3rem; // Small (s);
$font-size-lg-n: 1.5rem; // Normal (n);
$font-size-lg-l: 1.8rem; // Large (l)
// Base variables for other variables
$height-base-element-lg: 5rem;

// For max-width 767px
$aside-responsive-on-md: 20%;
$aside-responsive-off-md: 5%;
$content-responsive-on-md: 80%;
$content-responsive-off-md: 95%;
$font-size-md-s: 1.3rem; //- Small (s);
$font-size-md-n: 1.5rem; //- Normal (n);
$font-size-md-l: 1.8rem; //- Large (l)
// Base variables for other variables
$height-base-element-md: 5rem;

// For max-width 479x
$aside-responsive-on-sm: 20%;
$aside-responsive-off-sm: 5%;
$content-responsive-on-sm: 80%;
$content-responsive-off-sm: 95%;
$font-size-sm-s: 1.3rem; //- Small (s);
$font-size-sm-n: 1.5rem; //- Normal (n);
$font-size-sm-l: 1.8rem; //- Large (l)
// Base variables for other variables
$height-base-element-sm: 5rem;
